google-api-core==2.10.2
google-api-python-client==2.65.0
google-auth==2.9.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.4
greenlet==0.4.17
html2text==2020.1.16
html5lib==1.1
httpcore==0.9.1
httplib2==0.21.0
boto3==1.24.82
cryptography==3.3.2
certifi==2020.6.20
